/* noto-sans-jp-regular - japanese_latin */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
         url('../fonts/noto-sans-jp-v25-japanese_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-jp-v25-japanese_latin-regular.woff') format('woff'); /* Modern Browsers */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Modern Browsers */
}


:root {
    --accent-color: #3498db;
    --fg-primary: #08131a;
    --fg-secondary: #535353;
    --fg-lighter: #9a9a9a;

    --fg-code: #f8f8f2;

    --bg-primary: #FFFFFF;
    --bg-secondary: #dddddd;
    --bg-code: #282a36;

    --btn-hover-bg: #dddddd;
    --max-width: 660px
}

html {
    background-color: var(--fg-primary);
    font-size: 16px;
    height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: '-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Hiragino Kaku Gothic ProN","Hiragino Sans",Arial,Meiryo,sans-serif'; */
  font-family: "Helvetica Neue","Hiragino Sans","Hiragino Kaku Gothic ProN",Arial,"Noto Sans JP",Meiryo,sans-serif;
  font-size: 1.0rem;
  /* color: #42464c; */
  color: var(--fg-primary);
  background: 0 0;
  flex-flow: column;
  text-rendering: optimizeLegibility;
  /* background-color: rgb(238, 238, 238); */
  background-color: #FFFFFF;
  line-height: 1.5;
}

a {
  color: var(--fg-secondary);
  outline: none;
  text-decoration: none;
}
a:visited {
  color: var(--fg-secondary);
}
a:hover {
    color: var(--fg-lighter);
}


img {
    max-width: 90vw;
}

br {}


.mt-4 {
    margin-top: 4rem !important;
}
.mb-4 {
    margin-bottom: 4rem !important;
}
.mb-2 {
    margin-bottom: 2rem !important;
}

.error-text {
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
}

.header {
  margin: auto;
  position: relative;
}

.navbar {
  /* min-height: 50px; */
}

.nav {
  top: 0;
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 20px 20px 0px 20px;
  text-align: right;
}

.nav-logo {
  float: left;
  transition: transform 300ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  width: auto;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 1.0rem;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 10px;
}

.nav-links li a i {
  color: #535353;
}

.intro-header {
  margin: 40px 0 40px;
  position: relative;
  /* text-align: center; */
}

.intro-header .page-heading,
.intro-header .post-heading,
.intro-header .tags-heading,
.intro-header .categories-heading,
.intro-header .archives-heading {
  /* text-align: center; */
}

.intro-header .page-heading h1,
.intro-header .post-heading h1,
.intro-header .tags-heading h1,
.intro-header .categories-heading h1,
.intro-header .archives-heading h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 4.0rem;
}

.intro-header .post-heading h1 {
  margin-top: 0;
  font-size: 3.5rem;
}

h1,h2,h3,h4,h5,h6 {
  /* font-family: '-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Hiragino Kaku Gothic ProN","Hiragino Sans",Arial,Meiryo,sans-serif'; */
  font-weight: 300;
  /* color: #535353; */
  max-width: var(--max-width);
  margin: auto;
}

h1 {
    font-weight: 700;
}

h2 {
    /* border-bottom: 1px solid #ddd; */
    /* border-bottom: 3px solid #b3d7ff; */
    border-bottom: 4px double var(--accent-color);
    margin: 4rem 0 2rem 0;
    font-weight: 600;
    font-size: 1.5em;
}

h3 {
    margin: 2rem 0 0.5rem 0;
    font-size: 1.2em !important;
    font-weight: 700 !important;
}

h4 {
    margin: 1.5rem 0 0.5rem 0;
    font-size: 1.2rem !important;
    font-weight: 700 !important;
}

h5 {
    margin-top: 1.0rem !important;
    font-size: 1.0rem;
    font-weight: 700 !important;
}

.container {
    padding: 0px 20px 0 20px;
    line-height: 2.25rem;
    color: var(--fg-primary);
}
.container[role=header] {
}
.container[role=main] {
    max-width: var(--max-width);
    font-size: 1.0rem;
    background-color: white;
    word-break: break-word;
}
.container[role=footer] {
}
#blog-archives {
    margin: 20px auto;
    font-size: 1.4rem;
}

.archives {
    margin: 20px auto;
}

.archives td {
    border: none;
    text-align: left;
}

.article {
    text-align: justify;
    /* word-break: break-word; */
    word-break: normal;
    word-wrap: break-word;
}

.article li {
    /* margin: 0 0 1em 0; */
}

.article-main {
    margin: 0px 0 10rem;
    font-size: 1.13rem;
}

.article-main p {
    /* line-height: 1.8em; */
}

.toc {
    border: 2px dotted #cccccc;
    margin: 1em 0;
    background-color: #f0f0f0;
}

.toc .header {
    padding-left: 20px;
    margin: 0.5em 0;
}

.toc-base { /* 目次(toc)のスタイルを指定 */
    background-color: #f5f8fa;
    padding: 1em 0;
}

#TableOfContents {
    font-size: 1.4rem;
}

#TableOfContents ul {
    list-style-type: none;
    padding-inline-start: 20px;
}

#TableOfContents ul ul {
    list-style-type: disc;
}

ol {
    padding-left: 2rem;
}
ul {
    padding-left: 2rem;
}

p {
    margin: 1em 0;
}

p + p {
    margin-top: 1em;
}

.post-title {
    margin-top: 0px;
    font-weight: 700;
}

.post-preview {
    padding-bottom: 5rem;
    /* border-bottom: 1px solid #eeeeee; */
}

.post-preview a {
    text-decoration: none;
    color: #222222;
}

.post-preview:last-child {
    /* border-bottom: 0; */
}

.postmeta {
    margin: 10px 0;
}
.meta-post {
    color: var(--fg-secondary);
    width: 120px;
}

.blog-tags {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.0rem;
    flex-grow: 1;
    padding-right: 10px;
}

.blog-tag {
    border: 1px solid rgba(8,19,26,0.1411764705882353);
    padding: 4px 10px;
    border-radius: 8px;
    margin-left: 0.4rem;
    cursor: pointer;
}
.blog-tag:hover {
    background-color: var(--btn-hover-bg);
}

.blog-tags a:before {
    content: "#";
}

.blog-tags a:link{
    color: var(--fg-secondary);
}
.blog-tags a:visited{
    color: var(--fg-secondary);
}
.blog-tags a:hover{
    color: var(--fg-secondary);
}
.blog-tags a:active{
    color: var(--fg-secondary);
}
.tags-container {
    max-width: 440px !important;
}

.terms {
    position:relative;
    height: 40px;
}
.term-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

a.term-link:hover:not(.active) {
    background-color: var(--btn-hover-bg);
}


a.term-link > span.badge {
    float: right;
}

div.panel-body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 0;
    border: none;
    font-size: 1.6rem;
}

.post-entry {
    width: 100%;
    margin-top: 10px;
}

.post-read-more {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 800;
    float: right;
    position: relative;
    display: block;
    text-decoration: none;
}

a.post-read-more::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

a.post-read-more:hover::after {
    transform: scale(1, 1);
}

blockquote {
    color: #808080;
    padding: 0 10px;
    border-left: 4px solid #aaaaaa;
}

blockquote p:first-child {
    margin-top: 0;
}

table {
    padding: 0;
    border-spacing: 0;
}

table tr {
    border-top: 1px solid #dddddd;
    margin: 0;
    padding: 0;
}

table tr th {
    font-weight: bold;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    text-align: left;
    margin: 0;
    padding: 6px 12px;
}

table tr th :first-child,
table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
    margin-bottom: 0;
}

.chroma .ln {
    margin-right: 0.8em;
    padding: 0 0.4em 0 0.4em;
}


pre {
    margin: 0;
}

.highlight {
    line-height: 1.5rem;
}

pre code {
    padding: 0;
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: inherit;
    color: inherit;
    white-space: pre;
    background-color: transparent;
    border-radius: 0;
}

code {
    padding: 2px 10px;
    margin: 0px 5px;
    background-color: var(--bg-secondary);
    color: var(--fg-primary);
    /* border-radius: 4px; */
    font-family: 'Roboto';
}
.code::-webkit-scrollbar {
    display:none;
}
.code-block {
    margin: 0;
    margin-bottom: 2em;
}

.code-block .body {
    display: block;
    margin: 0;
    padding: 2rem;

    line-height: 1.125rem;
    word-break: break-all;
    word-wrap: break-word;

    color: var(--fg-code);
    background-color: var(--bg-code);
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    overflow-x: scroll;
}
.code-block .name {
    line-height: 1.5rem;
    padding: 2px 10px;
    border-radius: 4px 4px 0 0;
    width: fit-content;
    font-size: 0.8rem;
    font-family: inherit;
    color: var(--fg-code);
    background: var(--bg-code);
}
/* code hilightの参照表示 */
.code-block .ref {
    margin-top: 0.5em;
    font-family: inherit;
    background-color: var(--bg-secondary);
    color: #333;
    border-radius: 4px;
    padding: 0.2rem;
    font-size: 0.9rem;
    border-left: 4px solid #282a36;
}
.code-block .ref a {
    color: inherit;
}
.code-block .ref a:hover {
    color: #9a9a9a;
}

.code-block .ref .label {
    padding: 0 0.5em;
}

#backtotopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #eeeeff;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.6rem;
    text-align: center;
}

#backtotopButton:hover {
    background-color: #aaaaaa;
}

.searchBoxContainer {
    position: relative;
    width: 300px;
    height: 30px;
    margin: 10px auto 50px auto;
}

input.searchBox {
    position: absolute;
    width: 100%;
    padding: 0 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    outline: 0;
    font-size: 1.6rem;
    color: #707070;
    background-color:#f6f6f6;
    border: solid 1px #c9c9c9;
    box-sizing: border-box;
    height: 2.8rem
}

.searchBox::placeholder {
    color: #c9c9c9;
}

.searchResults {
    display: none;
    max-width: var(--max-width);
    min-width: 300px;
    margin: 0 auto;
    top: 210px;
    left: 0;
    right: 0;
    text-align: left;
}

.searchResultPage {
    padding-bottom: 3rem;
}

.searchResultTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.searchResultBody {
    font-size: 1.0rem;
}

mark {
    background-color: #eeff00;
}

.pager {
    list-style: none;
    text-align: center;
    margin:20px 0 0;
    padding-left: 0;
}

.pager ul {
    display: block;
}

.pager li {
    display: inline;
}

.pager li a {
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.0rem;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 1px 10px;
    /* background: #ffffff; */
    border-radius: 0;
    border: 1px solid var(--btn-hover-bg);
    display: inline-block;
    color: #404040;
    text-decoration: none;
}

.pager a:hover:not(.active) {
    background-color: var(--btn-hover-bg);
}

.pager .previous > a {
    float: left;
    display: block;
}

.pager .next > a {
    float: right;
    display: block;
}

footer {
    padding: 60px 0;
    text-align: center;
    margin-top: auto;
    /* font-family: 'Roboto', Helvetica, sans-serif; */
}

footer .copyright {
    /* font-family: 'Roboto', Helvetica, sans-serif; */
    text-align: center;
    margin-bottom: 0;
}

footer .theme-by {
    text-align: center;
    margin: 10px 0 0;
}

footer a {
    color: var(--fg-primary);
    font-weight: bold;
}

footer i {
    cursor: pointer;
}

/* pc */
@media (min-width: 600px) {
    img {
        max-width: var(--max-width);
    }

    .header {
        margin: auto;
    }

    .nav-links {
        font-size: 1.0rem;
    }

    .nav-links li {
        margin: 0 0 0 30px;
    }

    .container {
        padding: 0px 20px 0 20px;
        line-height: 2.25rem;
        color: var(--fg-primary);
    }
    .container[role=main] {
        font-size: 1.0rem;
        line-height: 2.25rem;
        margin: 0px auto;
    }

    .article-main {
        margin: 0 0 10rem;
        font-size: 1.13rem;
    }

    .blog-tags {
    }

    .pager li a {
        padding: 1px 10px;
    }

    .pager.blog-pager  {
        margin-top: 40px;
    }
}

.tooltip{
    color: #555;
    display: inline-block;                        /* インライン要素化 */
    border-bottom:dashed 1px #555;    /* 下線を引く */
}

.tooltip span {
    display: none;
}

/* マウスオーバー */
.tooltip:hover {
    position: relative;
    color: #333;
}

/* マウスオーバー時にツールチップを表示 */
.tooltip:hover span {
    display: block;                  /* ボックス要素にする */
    position: absolute;            /* relativeからの絶対位置 */
    top: 35px;
    font-size: 90%;
    color: #fff;
    background-color: darkgray;
    padding: 5px;
    border-radius:3px;
    z-index:100;
}

/* フキダシ部分を作成 */
.tooltip span:before{
    content:'';
    display:block;
    position:absolute;                         /* relativeからの絶対位置 */
    height:0;
    width:0;
    top:-12px;
    left: 8px;
    border:10px transparent solid;
    border-right-width:0;
    border-left-color: darkgray;
    transform:rotate(270deg);            /* 傾きをつける */
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    z-index:100;
}



.top-title {
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    font-size: 2.6rem !important;
    padding: 0 20px;
    margin: 2em auto;
}


.draft-tag {
    color: red;
}

.see-also {
    margin: 0;
}

.fas {
    color: var(--accent-color) !important;
}
.fa {
    color: var(--accent-color) !important;
}
