<div style='display:flex;justify-content: space-between'>
  <div class="meta-post blog-tags">
    <i class="fas fa-tag" style="color:#111111"></i>
    {{ if .Params.tags }}
    {{ range .Params.tags }}
    <span class="blog-tag">
      <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
    </span>
    {{ end }}
    {{ end }}
  </div>

  <div class="meta-post">
    <i class="fa fa-calendar-alt"></i
                                    >&nbsp;{{ .Lastmod.Format ( .Site.Params.dateformat | default "2006-01-02") }}
    {{ if .Params.categories }}
    &nbsp;&nbsp;&nbsp;<i class="fa fa-folder-open"></i>&nbsp;
    {{ range .Params.categories }}
    <a href="{{ $.Site.BaseURL }}/categories/{{ . | urlize }}/">{{ . }}</a
                                                                         >&nbsp;
    {{ end }}
    {{ end }}
  </div>
</div>
