<article class="post-preview">
  <a href="{{ .Permalink }}">
    <div>
      <h2 class="post-title">
	<div style="display:flex;align-items:center">
	<span style="flex-shrink:0">
	{{ .Title }}
	{{ if .Page.Draft }}
	<span class="draft-tag">(Draft)</span>
	{{ end }}
	</span>
	{{ range .Params.Author }}
	<span class="ellipsis"style="padding-left:0.5em; font-size:0.6em; font-weight:300">{{ . }}</span>
	{{ end }}
	</div>
      </h2>
    </div>
  </a>

  <div class="post-entry">
    <p>{{ substr .Summary 0 150 }}</p>
    <a href="{{ .Permalink }}" class="post-read-more">{{ i18n "read-more" }}</a>
  </div>

  <div class="postmeta">
    {{ partial "postmeta.html" . }}
  </div>
</article>
